<div class="filters">
  <div class="inline open"><label>Search by Category:</label></div>
  <select ng-model="sort">
    <option value="">No Filter</option>
    <option value="Camber">Camber</option>
    <option value="Rocker">Rocker</option>
    <option value="All-Mountain">All-Mountain</option> -->
    <option value="Freestyle">Freestyle</option> -->
    <option value="Halfpipe">Halfpipe</option>
    <option value="Park">Park</option>
    <option value="Beginner">Beginner</option>
    <option value="Deep-Pow">Deep-Pow</option>
    <option value="Racing">Racing</option>
    <option value="Shaped">Shaped</option>
    <option value="Stiff">Stiff</option>
    <option value="Early-Rise">Early-Rise</option>
    <option value="Backcountry">Backcountry</option>
  </select>
  <label class="open">Price:</label>
  <div class="inline" id="sortBy">
    <select ng-model="pricesort">
      <option>No filter</option>
      <option value="price">Lowest</option>
      <option value="-price">Highest</option>
    </select>
  </div>
  <label class="open">Search by Name:</label>
   <input type="text" class="inline" placeholder="Search" ng-model="searchBox">
  <button class="inline button open" id="checkout" ng-click="view.checkout()">Check Out | Bag:  {{view.shoppingCart}}</button>
</div>

<table>
  <thead>
    <th>Ski</th>
    <th>Information</th>
    <th></th>
  </thead>
<tbody>
<tr ng-repeat="tea in view.data |orderBy:pricesort|filter:sort |filter:searchBox ">

    <td>
      <img ng-src= '{{tea.imageUrl}}'>
    </td>
    <td>
      <h2 class="inline">{{tea.name}}</h2>
      <div>Price: {{tea.price /100 | currency:"$ "}}</div>
      <!-- <div>User Rating: {{tea.caffeineScale}}</div> -->
      <div>Style: {{tea.ingredients}}</div>
      <div>rating: {{tea.rating}}</div>
      <div>In Stock: {{tea.inStock== true ? "yes" : "no"}}</div>
      <div>Categories:</div>
      <div ng-repeat="cat in tea.categories">
           <li>{{cat}}</li>
      </div>
    </td>
    <td>
      <h3 class="inline">Quantity</h3>
      <select ng-model="quantity">
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
      </select>
      <button class="button2" ng-click="view.addToCart(quantity,tea)" id="addBag">Add to Bag</button>
    </td>
  </tr>
</tbody>
</table>
